@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap");
/* ALL SETTINGS */
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./background.png");
    background-size: cover;
}


/* HEADER */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo{
    margin-left: 5%;
}
.nav-links {
    flex: 1;
    text-align: center;
    margin-left: -5%;
}


.nav-links ul li {
    margin: 28px 40px ;
    display: inline-block;
}

.nav-links ul li a{
    color: #FFFFFF;
    font-family: IBM Plex Mono;
    letter-spacing: .2em;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #FBB034;
    box-shadow: 0 0 10x #FBB034;
    cursor: pointer;
    transform: scale(1.2);
}

.nav-links ul li a.current {
    opacity: 1;
    cursor: pointer;
    color: #FBB034;
    transition: 2s ease;
}


.contact{
    margin-right: 5%;
}

.menu-btn {
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #FFFFFF;
    padding: 12px 24px;
    position: relative;
    background: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin-right: 80px;
    font-weight: bold;
}


.dropdown-menu {
    position: relative;
    display: inline-block;
    z-index: 3;
 }

 .menu-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 3;
 }

 .links,.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
 }

 .links-hidden{
    display: block;
    letter-spacing: .1em;
    margin-left: -10%;
 }

 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    color: rgba(238, 163, 0, 0.918);
    
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    background-color: #FBB034;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.9);
    color: black;
    transition: .5s;
 }

 .login-menu {
    position: relative;
    display: inline-block;
    z-index: 3;
 }

 .login-button {
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #FFFFFF;
    padding: 12px 24px;
    position: relative;
    background: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: 15px;
    margin-right: 50px;
    font-weight: bold;
}


.login-button:hover {
    cursor: pointer;
    color: black;
    background: #FBB034;
    border: 1px solid #ffffff;
    transition: 1s ease;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}
