@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap");

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/*----------options-----------*/
.row {
    display: flex;
    justify-content: space-between;
  }

/* School */
.Services{
    width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.services-column{
    position: relative;
    margin: 0 auto;
    justify-content: center;
    
}
.services-column img{
    margin: 70px 60px 20px;
    height: fit-content;
    width: 310px;
    height: 300px;
    border-radius: 10%;

}
.services-column h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-family: IBM Plex Mono;
    margin: 4% 5%;
}
.more-info{
    display: flex;
    justify-content: center;
}
.more{
    justify-content: center;
}

.book-btn {
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #FFFFFF;
    padding: 12px 24px;
    position: relative;
    background: transparent;
    border: 1px solid #ffffff;
    margin-bottom: 5%;
    cursor: pointer;
    font-weight: bold;
}

.book-btn:hover {
    cursor: pointer;
    color: black;
    background: #FBB034;
    border: 1px solid #ffffff;
    transition: 1s ease;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}
